.identity{
    background: #2574a9;    
}

.identity legend{
    background: #2574a9;    
}

.address{
    background: #9a12b3;
}

.address legend{
    background: #9a12b3;
}

.paymenentInformations{
    background: #db0a5b;
}

.paymenentInformations legend{
    background: #db0a5b;
}